<div id="<%= dom_id stop %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Samsara:</strong>
    <%= stop.samsara_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled arrival time:</strong>
    <%= stop.scheduled_arrival_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled departure time:</strong>
    <%= stop.scheduled_departure_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Actual arrival time:</strong>
    <%= stop.actual_arrival_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Actual departure time:</strong>
    <%= stop.actual_departure_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">En route time:</strong>
    <%= stop.en_route_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= stop.state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Live sharing url:</strong>
    <%= stop.live_sharing_url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= stop.notes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Route:</strong>
    <%= link_to stop.route.name, route_path(stop.route) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= link_to stop.location.name, location_path(stop.location) %>
  </p>
</div>
