<% content_for :title, "Showing stop" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing stop</h1>

  <%= render @stop %>

  <% if @stop.live_sharing_url.present? %>
    <%= link_to "View live tracking", @stop.live_sharing_url, class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <% end %>

  <%= link_to "Edit this stop", edit_route_stop_path(@stop.route, @stop), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to stops", route_stops_path(@stop.route), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
