<div id="<%= dom_id chat_message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= chat_message.driver_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= chat_message.body %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sender name:</strong>
    <%= chat_message.sender_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sender type:</strong>
    <%= chat_message.sender_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Read:</strong>
    <%= chat_message.read %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sent at:</strong>
    <%= chat_message.sent_at %>
  </p>
</div>
