<%= form_with(model: route, class: "contents") do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul class="list-disc ml-6">
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": route.errors[:name].none?, "border-red-400 focus:outline-red-600": route.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :scheduled_start_time %>
    <%= form.datetime_field :scheduled_start_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": route.errors[:scheduled_start_time].none?, "border-red-400 focus:outline-red-600": route.errors[:scheduled_start_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :scheduled_end_time %>
    <%= form.datetime_field :scheduled_end_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": route.errors[:scheduled_end_time].none?, "border-red-400 focus:outline-red-600": route.errors[:scheduled_end_time].any?}] %>
  </div>

  <% if route.persisted? %>
    <div class="my-5">
      <%= form.label :actual_start_time %>
      <%= form.datetime_field :actual_start_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": route.errors[:actual_start_time].none?, "border-red-400 focus:outline-red-600": route.errors[:actual_start_time].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :actual_end_time %>
      <%= form.datetime_field :actual_end_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": route.errors[:actual_end_time].none?, "border-red-400 focus:outline-red-600": route.errors[:actual_end_time].any?}] %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
