<div id="<%= dom_id driver %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= driver.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= driver.username %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= driver.password %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Samsara:</strong>
    <%= driver.samsara_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= driver.phone_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= driver.status %>
  </p>
</div>
